<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.josedlpozo.galileo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <application>
        <activity android:name=".flow.ActivityEventDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Galileo.Theme"/>
        <activity
            android:name=".parent.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Galileo.Theme"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".chuck.internal.ui.TransactionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Galileo.Theme" />

        <provider
            android:name=".parent.files.GalileoFileProvider"
            android:authorities="${applicationId}.com.josedlpozo.galileo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <activity
            android:name=".realm.realmbrowser.models.view.ModelsActivity"
            android:theme="@style/Galileo.Theme" />
        <activity
            android:name=".realm.realmbrowser.view.RealmObjectActivity"
            android:theme="@style/Galileo.Theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".realm.realmbrowser.browser.view.RealmBrowserActivity"
            android:theme="@style/Galileo.Theme"/>

        <activity android:name=".picker.ui.StartOverlayActivity"
                  android:theme="@style/TransparentTheme"
                  android:exported="false"
                  android:excludeFromRecents="true" />

        <activity android:name=".picker.ui.ScreenRecordRequestActivity"
                  android:theme="@style/TransparentTheme"
                  android:exported="false"
                  android:excludeFromRecents="true" />

        <receiver android:name=".picker.qs.GridQuickSettingsTile$ClickBroadcastReceiver">
            <intent-filter>
                <action android:name="org.cyanogenmod.designertools.action.TOGGLE_GRID_STATE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".picker.qs.ColorPickerQuickSettingsTile$ClickBroadcastReceiver">
            <intent-filter>
                <action android:name="org.cyanogenmod.designertools.action.TOGGLE_COLOR_PICKER_STATE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".picker.receiver.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".picker.overlays.GridOverlay" />

        <service android:name=".picker.overlays.ColorPickerOverlay" />

        <service
            android:name=".picker.service.qs.GridOverlayTileService"
            android:icon="@drawable/ic_qs_grid_off"
            android:label="@string/grid_qs_tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service
            android:name=".picker.service.qs.ColorPickerTileService"
            android:icon="@drawable/ic_qs_colorpicker_off"
            android:label="@string/color_picker_qs_tile_label"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>

</manifest>