<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.josedlpozo.galileo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <application>
        <activity
            android:name=".more.PluginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Galileo.Theme"/>
        <activity
            android:name=".parent.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Galileo.Theme"
            android:windowSoftInputMode="stateAlwaysHidden"/>

        <provider
            android:name=".parent.files.GalileoFileProvider"
            android:authorities="${applicationId}.com.josedlpozo.galileo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>
        </provider>

    </application>

</manifest>