<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.josedlpozo.galileo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <application>
        <activity
            android:name=".parent.home.HomeActivity"
            android:theme="@style/Galileo.Theme"
            android:screenOrientation="portrait"/>
        <activity android:name=".chuck.internal.ui.TransactionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Galileo.Theme"/>

        <provider
            android:name=".parent.files.GalileoFileProvider"
            android:grantUriPermissions="true"
            android:exported="false"
            android:authorities="com.josedlpozo.galileo">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>

        </provider>

    </application>



</manifest>