<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.josedlpozo.galileo.colorpicker">
    <application>
        <activity android:name=".ui.ScreenRecordRequestActivity"
            android:theme="@style/TransparentTheme"
            android:exported="false"
            android:excludeFromRecents="true" />
    </application>
</manifest>
